* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, red, rgb(119, 3, 3));
}
.todo {
    padding: 30px 35px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 15px;
    background: linear-gradient(135deg, red, rgb(119, 3, 3));
}
.add {
    background-color: rgb(247, 151, 151);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;
}
.add input {
    flex: 1;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: azure;
}
.add input::placeholder{
    color: azure;
}
.add button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgb(165, 21, 21);
    color: #fff;
}
ul {
    list-style: none;
    user-select: none;
    margin-top: 20px;
}
ul li {
    color: #fff;
    padding: 15px 29px;
    display: flex;
    position: relative;
    user-select: none;
}
ul li::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: -8px;
}
ul li.checked {
    text-decoration: line-through;
    color: #dbd6d6;
}
ul li.checked::before {
    background: #fff;
    background-position: center;
    background-size: cover;
} 
ul li span {
    padding: 3px 3.5px;
    width: 28px;
    height: 28px;
    background-color: #fff;
    position: absolute;
    right: 10px;
    color: #fff;
    font-size: 15px;
    transition: .3s;
}
ul li span:hover {
    border-radius: 50%;
    background-color: #c9c8c8;
}